.vbox-marco {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.hbox-marco {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-margin: 10px;
}
